@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Library Management System</h1>
    <p>Explore our library collection and manage your borrowing activities.</p>
    <p>
        <a class="btn btn-primary" href="/Users/Index">Manage Users</a>
        <a class="btn btn-success" href="/Borrow/Index">Manage Borrowings</a>
        <a class="btn btn-success" href="/Books/Index">Manage Books</a>
    </p>
</div>
